{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign IN {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}

        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="https://imgs.search.brave.com/WNtqDBQ1_2qlbEX1hAZNvHclO2ZgVIykhgLDP-f_Vng/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTIx/MjQwOTgwNi9waG90/by9ibG9vZC1jZWxs/cy1iYWNrZ3JvdW5k/LmpwZz9zPTYxMng2/MTImdz0wJms9MjAm/Yz1nU1ltNzFwMlhS/TTVZbjE0VkdiaXRK/M0hwMEE5dW1CVWpx/RnBmanBWZHhJPQ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300  p-lg-4 py-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <img src="https://imgs.search.brave.com/X6YhBQElokGjffi0QGMi9BhVNPfdr7R3okOu0bpz9HQ/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTU1/MTQ5OTA5L3Bob3Rv/L2Ryb3Atb2YtYmxv/b2QtY2VsbHMuanBn/P3M9NjEyeDYxMiZ3/PTAmaz0yMCZjPTJH/RldmUHRWSGNQVm5J/YU5NM2FtUExNYS04/a1YxUTZVdHNNUzhs/N1JkWm89" alt="Selected Image" style=" max-width: 80px; max-height: 80px;" class="mt-0">
                                <h1 class="mb-0 h3">
                                    <a href="https://appseed.us/product/pixel-bootstrap/flask/" target="_blank">Blood Cancer App</a> - Login
                                </h1>
                                <br />
                                <span class="font-weight-normal">
                                    {% if msg %}
                                        <span class="text-danger">
                                            {{ msg | safe }}
                                        </span>                                        
                                    {% else %}
                                    Username=latrach , Password=test
                                    {% endif %}                                  
                                </span>
                            </div>
                            <form method="post" action="" class="mt-4">

                                {{ form.hidden_tag() }}

                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Username</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><span class="fas fa-user"></span></span>
                                        {{ form.username(class="form-control") }}
                                    </div>  
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                                            {{ form.password(class="form-control", type="password") }}
                                        </div>  
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="form-check mb-0">
                                            <input class="form-check-input" type="checkbox" value="" id="remember">
                                            <label class="form-check-label mb-0" for="remember">
                                              Remember me
                                            </label>
                                        </div>
                                        <div><a href="{{ url_for('authentication_blueprint.register') }}" class="text-right">Register</a></div>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" name="login" class="btn btn-danger">Sign in</button>
                                </div>
                            </form>

                            <br />


                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
